

body {
    margin: auto;
}

#banner {
    display: flex;
    background: linear-gradient(90deg, #02679E, #00A376);
    color: white;
    margin-top: 5px;
    height: 60px;
    font-size: 25px;
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#searchBox {
    display: flex;
    margin-top: 5px;
    width: 100%;
    height: 7vh;
}

#searchBar {
    border-radius: 1px;
    border-width: 1px;
    border-style: solid;
    border-color: grey;
    margin-left: 1vw;
    margin-right: 1vw;
    width: 95vw;
    height: 1.5em;
}

#search {
    display: flex;
    justify-content: center;
    align-items: center;
    background:#00A376;
    color: white;
    width: 1.5em;
    height: 1.5em;
    box-shadow: 0px 1px 1px grey;
    border-radius: 1px;
    border-width: 0px;
}
 .list {
     display: flex;
     flex-direction: row;
 }

 .garbObj, .favObj {
     font-size: 0.8em;
     width: 50vw;
     margin: 2px;
     color: black;
 }

 #garboBin {
     display: flex;
     flex-direction: column;
 }

 .fa-star {
     color: grey;
 }

 #favBin {
     font-size: 1.5em;
     background-color: #C4FCED;
     color: #00A376;
 }

 .favStar{
     color: #00A376;
 }